/* for full document */

*{
    box-sizing: border-box;
}

#logo{
    float: left;
    justify-content:flex-start;
    padding: none;
    margin-left: 10px;
}

.navbar a:hover{
    color:rgb(0, 255, 217);
}

.navbar {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    z-index: 4;
}

.menu-left {
    flex: 1;
    position: ancestor;
    z-index: 40;
}

.menu-right{
    flex: 1;
    text-align: right;
    font-size: small;
    position: ancestor;
    right: 0px;
    margin-right: 20px;
}

.menu-item {
    text-decoration: none;
    color: #333;
    margin-left: 20px;
}
.menu-item:first-child {
    margin-left: 0;
}

.home-main h1, P{
    font-family: Raleway, Inter;
}

body{
    font-family: Raleway, Inter, Montserrat, Arial, Helvetica, sans-serif;
    margin:0;
    padding: 0;
}

footer{
    display:block;
    clear: both;
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 25px;
    font-family: Inter, Montserrat;
    font-style: normal;
}
footer h2{
    font-size: 25px;
    font-weight: 400;
}

footer a{
    text-decoration: none;
    margin: 10px;
    color:black;
    font-style: normal;
}
footer i{
    color: #868686;
}
@media screen and (max-width:600px){
    aside, section, article{
        width: 100%;
    }
}

/* aside{
    width: 20%;
    float: left;
    padding: 10%;
}

section{
    padding: 10px;
    font-family: Raleway;
    font-style: normal;
}

article{
        width: 40%;
        float: left;
        padding: 10px;
} */


/* HOME page */

.home-main h1{
    font-family: Raleway, Inter;
    font-size: 40px;
    font-weight: normal;
}

.image-container-full {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
.image-full {
    position: relative;
    overflow: hidden;
}

.image-full img {
    width: 100%;
    height: auto;
    display: block;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-family: Raleway, Montserrat;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
}
.image-full:hover .overlay {
    opacity: 1;
}

.home-main{
    background-color: white;
}

.home-main h1{
    text-align: center;
}

#mainBanner{
    width: auto;
    height: 80%;
}


/* Projects PAGE */

.image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.projects-class h1{
    font-family: Raleway, Inter;
    font-size: 40px;
    font-weight: normal;
}

.projects-class p, a{
    font-family: Inter, Montserrat;
}

.image {
    position: relative;
    overflow: hidden;
    /* border-radius: 5px; */
}

.image img {
    width: 100%;
    height: auto;
    display: block;
    /* border-radius: 5px; */
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
}
.image:hover .overlay {
    opacity: 1;
}
.overlay h2, .overlay p {
    margin: 0;
    padding: 0;
    text-align: center;
}


.page {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    overflow-y: auto;
}

.page-content {
    max-width: 1200px;
    margin: 20px auto;
    margin-top: 60px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    padding: 5%;
}

.close-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 24px;
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    z-index: 99;
}


.projects-menu {
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
}

.projects-menu a{
    text-decoration: none;
    color: #333;
    margin-left: 20px;
    font-size: 15px;;
}

.projects-menu a:hover{
    color:aqua;
}

.projects-class{
    text-align: center;
    font-family: Montserrat, Inter;
}



/* ABOUT PAGE */

.about-main{
    font-family: Inter, Montserrat, Raleway;
    font-size: 120%;
}
  
.about-main header{
    margin: 10%;
}

.about-main h2{
    font-family: Raleway, Inter;
    font-size: 40px;
    font-weight: normal;
}

.about-main button{
    display: flex;
    flex-direction: row;
    float: right;
    border-radius: 20px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-width: 1px;
}

#about-intro{
    width: 67%;
}

.about-main p{
    font-family: Inter, Montserrat;
    font-weight: 300;
}

.about-main h1{
    padding-top: 5%;
    float: none;
    text-align: center;
    font-family: Raleway, Inter;
    font-size: 40px;
    font-weight: normal;
}

.about-main h1:hover{
    font-style: bold;
    color:rgb(0, 0, 0);
    font-weight: bolder;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
    transform: translateY(-10px);
    background-color: var(--clr-accent);
    color: var(--clr-light);
}

/* .about-main h3{
    text-align: left;
} */

.about-main h3:hover{
    font-style: bold;
    color:rgb(0, 0, 0);
    font-weight: bolder;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);      
    transition: transform 0.3s ease;
    transform: translateY(-10px);
    background-color: var(--clr-accent);
    color: var(--clr-light);
}

#about-image{
    padding-top: 5%;
    padding-bottom: 5%;
}

.class-strengths {
    width: 100%;
    height: 100vh;
    background-image: url("assets/strengthimage.png");
    background-position:bottom;
    background-size: cover;
}

/* #Strengths{
    text-align: center;
    font-family: Raleway, Inter;
    font-size: 40px;
    font-weight: normal;
} */

.strength img {
    height: auto;
    display: block;
}

.strength{
    display: flex;
    flex: 1;
    justify-content:center;
    align-items: center;
}

.strength1 {
    margin: 90px;
    margin-bottom: 0;
    padding-bottom: 10%;
    font-family: Raleway, Inter;
    font-weight: normal;
}

#brline{
    list-style-position: outside;
}

.skills{
    margin: auto;
    width: 80%;
    display: flex;
    align-items: center;
    margin-top: 0;
    justify-content:space-around;
    flex-wrap: wrap;
    /* display: grid; */
    /* grid-template-columns: repeat(4, 1fr);  */
}


.card{
    flex-basis: 10%;
    text-align: center;
    display: table-cell;
}
.card img{
    width: 80px;
}

.card h3{
    position: relative;
    top: -90px;
    left: 0;
    color: white;
}

.card p{
    position: relative;
    top: -50px;
    left: 0;
    font-size: 70%;
}

.class-background{
    width: 100vw;
    height: 100vh;
    background-image: url("assets/backgroundimage.png");
    background-position: bottom;
    background-size: cover;
    z-index: -99;
}
.class-background p{
    text-align: left;
    padding-left: 50%;
    max-width: 90%;
}


.class-experience h1{
    text-align: left;
    font-family: Raleway, Inter;
    font-size: 40px;
    font-weight: normal;
}

.class-experience p{
    text-align: left;
}

.class-experience{
    display: flex;
    align-items: left;
    flex-wrap: wrap;
}

#logoCV{
    height: auto;
    padding-top: 15%;
    align-items: center;
    margin-bottom: 30%;
    transition: all 0.3s;
    transform: rotateY(0);
    transition: transform 0.3s ease;
}

.text{
    flex-basis: 50%;
    padding-left: 20%;
    box-sizing: border-box;
}

#logoCV:hover{
    justify-content: center;
    align-items: center;
    transform: rotateY(160deg);
    background-color: var(rgb(45, 88, 74));
    color: var(aquamarine);
}


@keyframes slideInLeft  {
    form{
        transform: translateX(-300px);
    }

    to{
        transform: translateX(0);
    }
} */

/* #clover1{
    animation-name: slideInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-duration: normal;
    animation-fill-mode: none;
    transform: translateX(-150px);
    animation: slideInLeft 1s ease-in both;
} */

/* CONTACTS PAGE */

.contacts-main{
    padding: 10%;
    font-family: Inter, Montserrat, Raleway;
    /* flex-direction: column; */
    display: flex;
    float:left;
}

.contacts-main h2{
    text-align: left;
    font-size: 50px;
    font-weight: 350;
}

.contacts-main h3{
    text-align: left;
    font-size: 26px;
    font-weight: 500;
}

#myinfo{
    /* border: 2px solid; */
    width: 400px;
    float: left;
    box-sizing: border-box;
}

#contactsfield{
    float: left;
    margin-top: 15%;
    margin-left: 10%;
}

.contacts-section form{
    /* box-sizing: border-box; */
    margin-right: 10%;
    padding: 20px;
    /* border: 2px solid; */
    border-radius: 15px;
    /* width: 400px; */
    background-color:  hsl(267, 100%, 93%);
    float: right;
}

.contacts-section label{
    padding: 10px;
    padding-left: 20px;
    font-size: small;
    justify-content: center;
    font-family: Inter;
    color: #7c7c7c;
    text-align: left;
    align-content: center;
    align-items: center;
}
.contacts-section input{
    padding: 15px;
    border: none;
    border-style: none;
    align-items: right;
    width: 320px;
    outline: none;
}
.contacts-section div{
    border: 2px solid;
    border-color:  hsl(276, 100%, 93%);
    background-color: white;
    border-width: 1px;
}
#comment{
    border: none;
    align-items: left;
    width: 438px;
    justify-content: left;
    margin-left: 20px;
    outline: none;
    font-family: Inter, Montserrat, Raleway;
}

#submit{
    width:auto;
    border: none;
    background-color: none;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
}




/* MOUSE INTERACTION */

    .cursor{
        position: fixed;
        background: greenyellow;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        pointer-events: none;
        box-shadow: 0 0 20px greenyellow, 0 0 60px greenyellow, 0 0 100px greenyellow;
        color: aquamarine;
        animation: colors 5s infinite;
        /* transform: translate(-50%, -50%); */
        display: none;
        z-index: 99;

    }

    @keyframes colors{
        0%{
            filter: hue-rotate(0deg);
        }
        100%{
            filter: hue-rotate(360deg);
        }
    }

    .cursor:before{
        content: '';
        position: absolute;
        background: greenyellow;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        opacity: 0.2;
        transform: translate(-30%, -30%);
        z-index: 99;
    }

    .circle {
        height: 30px;
        width: 30px;
        border-radius: 30px;
        background-color: black;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-50%, -50%);
        pointer-events: none;
        transition: all 0.3 ease;
        z-index: 999;
    }  
      
      .clover {
        position: absolute;
        width: 30px;
        height: 30px;
        background-image: url('/assets/clover.png');
        background-size: cover;
        pointer-events: none;
        opacity: 1;
        animation: clover-float 2s forwards;
      }
      
      @keyframes clover-float {
        0% {
          transform: translate(0, 0) rotate(0deg);
          opacity: 1;
        }
        100% {
          transform: translate(100px, -100px) rotate(360deg);
          opacity: 0;
        }
      }
      